## Assignment-2
##### Total number of points: 60
#### Due date: 9/23/2023 11:59 PM

Before you submit this homework, make sure everything runs as expected. First, restart the kernel (in the menu, select Kernel → Restart) and then run all cells (in the menubar, select Cell → Run All). You can discuss with others regarding the homework but all work must be your own.

Steps to evaluate your solutions:

Step-1: Try on Colab or Anaconda (Windows: https://docs.anaconda.com/anaconda/install/windows/ ; Mac:https://docs.anaconda.com/anaconda/install/mac-os/ ; Linux: https://docs.anaconda.com/anaconda/install/linux/)

Step-2: Open the Jupyter Notebook by first launching the anaconda software console

Step-3: Open the homework's .ipynb file and write your solutions at the appropriate location "# YOUR CODE HERE"

Step-4: You can restart the kernel and click run all (in the menubar, select Cell → Run All) on the center-right on the top of this window.

Step-5: Now go to "File" then click on "Download as" then click on "Notebook (.ipynb)" Please DO NOT change the file name and just keep it as ".ipynb"

Step-6: Go to lms.rpi.edu and upload your homework at the appropriate link to submit this homework.


#### Please note that for any question in this assignment you will receive points ONLY if your solution passes all the test cases including hidden testcases as well. So please make sure you try to think all possible scenarios before submitting your answers.  
- Note that hidden tests are present to ensure you are not hardcoding. 
- If caught cheating: 
    - you will receive a score of 0 for the 1st violation. 
    - for repeated incidents, you will receive an automatic 'F' grade and will be reported to the dean of Lally School of Management.

#### Q1 [5 points]. import the `numpy` package as `np`. Similarly, import the `pandas` package as `pd`

In [2]:

'''Note that ONLY if you get this solution right all the below questions will be executed'''

# YOUR CODE HERE
import numpy as np
import pandas as pd

In [3]:
#Test cell-1 [5 pts]
#DO NOT MODIFY/DELETE THIS CELL
assert np.prod([1,2,3])==6
assert len(pd.read_csv('https://raw.githubusercontent.com/lmanikon/lmanikon.github.io/master/teaching/datasets/nba.csv').head(10)) == 10

#### Q2 [5 points]. Create a numpy array called `arr2` of ones of size 3X4 meaning 3 rows and 4 columns, 
#### where the element in 2nd row and 3rd column is 2. Please note that we are referring to the position here not the index.

In [4]:

#Create arr2 with 3 rows and 4 columns

# YOUR CODE HERE
arr2 = np.ones((3, 4))
arr2[1, 2] = 2
arr2

array([[1., 1., 1., 1.],
       [1., 1., 2., 1.],
       [1., 1., 1., 1.]])

In [5]:
#Test cell-2 [3 pts]
#DO NOT MODIFY/DELETE THIS CELL 

assert isinstance(arr2, np.ndarray)
assert arr2[:1].all() == 1
assert sum(arr2[1]) == 5

In [6]:
#Test cell-3 [2 pts]
#DO NOT MODIFY/DELETE THIS CELL

#### Q3 [5 points]. Create a numpy array `arr3` with elements 2,4,6,8,10 (in the same order)
#### Now create a new array `arr31` whose elements are thrice the value of each element in `arr3` at the same index respectively.

In [7]:
#Build arr3

# YOUR CODE HERE

arr3 = np.array([2, 4, 6, 8, 10])
arr31 = np.array([x * 3 for x in arr3])
print(arr3, arr31)

[ 2  4  6  8 10] [ 6 12 18 24 30]

In [8]:
#Test cell-4 [4 pts]
#DO NOT MODIFY/DELETE THIS CELL 

assert isinstance(arr3, np.ndarray)
assert arr3[2] == 6
assert arr31[2] == 18
assert arr31[1] == 12

In [9]:
#Test cell-5 [1 pts]
#DO NOT MODIFY/DELETE THIS CELL

#### Q4 [10 points]. Return the sum of mean and median values of elements present in a numpy array. 
- Given the array, first arrange them in ascending order
- If the number of elements are odd, median is the middle term 
- If the number of elements are even, median is the average value of the terms in the middle

In [10]:

def SumMeanMedian(arr4):
    """Returns the sum of mean and median values of elements present in the array
    """
    # YOUR CODE HERE
    arr4.sort()
    return np.mean(arr4) + np.median(arr4)

# a = np.array([9, 2, 3, 6, 1])
# SumMeanMedian(a)
# print(a)

In [11]:
#Test cell-6 [6 pts]
#DO NOT MODIFY/DELETE THIS CELL 

arr3=np.array([1,0,1,0,2,1])
assert round(SumMeanMedian(arr3),2)==1.83

arr3=np.array([0])
assert round(SumMeanMedian(arr3),2)==0.0

arr3=np.array([20, 2, 7, 1, 0])
assert round(SumMeanMedian(arr3),2)==8.0

In [12]:
#Test cell-7 [4 pts]
#DO NOT MODIFY/DELETE THIS CELL

#### Q5 [5 points]. Please follow the instructions very carefully 
- Create a list `l5` and assign values 1, 2, 3, 4, 5, 6 to this list in the same order as listed here.
- Use `l5` to create a series `S5` with a default index
- Use `l5` to create a dataframe `df5` with a default index but column name should be `fifth`

In [13]:

# YOUR CODE HERE
l5 = [1, 2, 3, 4, 5, 6]
S5 = pd.Series(l5)
df5 = pd.DataFrame({'fifth': S5})
# print(S5)
# df5

In [14]:
#Test cell-8 [3 pts]
#DO NOT MODIFY/DELETE THIS CELL 

assert len(l5)==6
assert max(l5)==6
assert S5[3]==4
assert len(df5.columns)==1

In [15]:
#Test cell-9 [2 pts]
#DO NOT MODIFY/DELETE THIS CELL

#### Q6 [10 points]. Read the .csv file from this url and first load it into dataframe 'df'. Then, perform the following operations in the same exact order:
- Using pandas dataframe operations, output the total number of missing values in this entire dataset and save that value in the integer variable `var61`.
- Using pandas dataframe operations, output the total number of rows that have missing `Age` values. Save this value into the integer variable `var62`. 
- Replace the missing values in column `Income` with the mean value of all the values already present. 
    - Save the mean value before filling the missing values as the variable `mean61` and the mean value of all values after replacing the missing values as the variable `mean62`. 
    - When you save the values as the variables `mean61` and `mean62` please save them rounded to two decimal places. 
    - Note that when you are replacing the missing values, *do not use the rounded values*.

In [16]:

url='https://raw.githubusercontent.com/lmanikon/lmanikon.github.io/master/teaching/datasets/bike_buyers.csv'

# YOUR CODE HERE
df = pd.read_csv(url)
var61 = df.isnull().values.sum()
var62 = df['Age'].isnull().sum()
mean61 = df['Income'].mean()
df['Income'] = df['Income'].fillna(mean61)
mean62 = df['Income'].mean()

# print(mean61, mean62)
mean61, mean62 = float("{0:.2f}".format(mean61)), float("{0:.2f}".format(mean62))
# print(mean61, mean62)

In [17]:
#Test cell-10 [6 pts]
#DO NOT MODIFY/DELETE THIS CELL 

assert df['Age'].sum()==43828.0
assert round(df['Income'].sum(),2)==56267605.63
assert var62==8

In [18]:
#Test cell-11 [4 pts]
#DO NOT MODIFY/DELETE THIS CELL

#### Q7 [10 points]. Lets think about how copying works in the context of dataframes. Lets first load the bikes data as shown in the url here below to a dataframe `df`. 

#### First create a list `l7` using the first 10 values of the column `Region`. Then create a dataframe `df_new` by creating two other lists (`l71` and `l72`) by manipulating `l7` as follows
-  l71 -- copy l7 into l71 and add the last element of l7 to the beginning of l71
- l72 -- copy l71 into l72 and add the first element of l71 to the end of l72
- Now use `l7`, `l71` and `l72` to create a data frame `df_new` with corresponding column names as `Region1`, `Region2` and `Region3`

In [19]:
"""Creates the dataframe df_new that is built using an original list l7
"""


url='https://raw.githubusercontent.com/lmanikon/lmanikon.github.io/master/teaching/datasets/bike_buyers.csv'

# YOUR CODE HERE
df = pd.read_csv(url)
l7 = df['Region'][:10].tolist()
l71 = [l7[-1]] + l7.copy()
l72 = l71.copy() + [l7[0]]
df_new = pd.DataFrame({'Region1': pd.Series(l7), 'Region2': pd.Series(l71), 'Region3': pd.Series(l72)})
# print(df_new)

In [20]:
#Test cell-12 [5 pts]
#DO NOT MODIFY/DELETE THIS CELL 
assert isinstance(l7, list) is True
assert len(l71)==11
assert len(l72)==12

In [21]:
#Test cell-13 [5 pts]
#DO NOT MODIFY/DELETE THIS CELL

#### Q8 [10 points]. Dropping the rows that satisfy certain conditions. Lets first load the bikes data as shown in the url here below to a dataframe `df`. 

#### Please perform the following tasks in the same order as listed here below: 

- Create a dataframe `df` by loading the dataset using the url provided.
- Remove all the rows in `df` with atleast one missing value. This should be reflected in the dataframe `df` -- so when you measure the length of `df` it should be different prior to performing this task.
- Drop the column `cc`
- Drop all the rows in `df` whose `Commute Distance` is `10+ Miles` and assign this modified dataframe to a new dataframe `ndf`. This change should not be reflected in the dataframe `df`.

In [58]:
"""Create a dataframe df """

url='https://raw.githubusercontent.com/lmanikon/lmanikon.github.io/master/teaching/datasets/bike_buyers.csv'

# YOUR CODE HERE
df = pd.read_csv(url)

df = df.dropna(axis=0, how='any')

df = df.drop("cc", axis=1)

ndf = df[df['Commute Distance'] != "10+ Miles"]

In [59]:
#Test cell-14 [6 pts]
#DO NOT MODIFY/DELETE THIS CELL 
assert len(df.columns)==12
assert len(ndf)==844
assert len(df)==952

In [ ]:
#Test cell-15 [4 pts]
#DO NOT MODIFY/DELETE THIS CELL