## Assignment-3
##### Total number of points: 60
#### Due date: 9/30/2024 11:59 PM

Before you submit this homework, make sure everything runs as expected. First, restart the kernel (in the menu, select Kernel → Restart) and then run all cells (in the menubar, select Cell → Run All). You can discuss with others regarding the homework but all work must be your own.

Steps to evaluate your solutions:

Step-1: Try on Colab or Anaconda (Windows: https://docs.anaconda.com/anaconda/install/windows/ ; Mac:https://docs.anaconda.com/anaconda/install/mac-os/ ; Linux: https://docs.anaconda.com/anaconda/install/linux/)

Step-2: Open the Jupyter Notebook by first launching the anaconda software console

Step-3: Open the homework's .ipynb file and write your solutions at the appropriate location "# YOUR CODE HERE"

Step-4: You can restart the kernel and click run all (in the menubar, select Cell → Run All) on the center-right on the top of this window.

Step-5: Now go to "File" then click on "Download as" then click on "Notebook (.ipynb)" Please DO NOT change the file name and just keep it as ".ipynb"

Step-6: Go to lms.rpi.edu and upload your homework at the appropriate link to submit this homework.


#### Please note that for any question in this assignment you will receive points ONLY if your solution passes all the test cases including hidden testcases as well. So please make sure you try to think all possible scenarios before submitting your answers.  
- Note that hidden tests are present to ensure you are not hardcoding. 
- If caught cheating: 
    - you will receive a score of 0 for the 1st violation. 
    - for repeated incidents, you will receive an automatic 'F' grade and will be reported to the dean of Lally School of Management.

Use the Stroke dataset from this url ('https://raw.githubusercontent.com/lmanikon/lmanikon.github.io/master/teaching/datasets/KaggleStroke.csv') and we will use the same dataset for the questions here below.

#### Q1. Metadata of the Data Frame. 
1. Import pandas package as `pd`.
2. Read the file from the `url` and load the data into dataframe `df` with default index.
3. Using `df` set the number of rows equal to the variable `rows` and the number of columns equal to the variable `cols`.

In [1]:

url='https://raw.githubusercontent.com/lmanikon/lmanikon.github.io/master/teaching/datasets/KaggleStroke.csv'

# YOUR CODE HERE
import pandas as pd
df = pd.read_csv(url)
rows = df.shape[0]
cols = df.shape[1]
print(df)
print(f'The dataset has {rows} rows and {cols} columns')

         id  gender   age  hypertension  heart_disease ever_married  \
0      9046    Male  67.0             0              1          Yes
1     51676  Female  61.0             0              0          Yes
2     31112    Male  80.0             0              1          Yes
3     60182  Female  49.0             0              0          Yes
4      1665  Female  79.0             1              0          Yes
...     ...     ...   ...           ...            ...          ...
5105  18234  Female  80.0             1              0          Yes
5106  44873  Female  81.0             0              0          Yes
5107  19723  Female  35.0             0              0          Yes
5108  37544    Male  51.0             0              0          Yes
5109  44679  Female  44.0             0              0          Yes

          work_type Residence_type  avg_glucose_level   bmi   smoking_status  \
0           Private          Urban             228.69  36.6  formerly smoked
1     Self-employed          Rural             202.21   NaN     never smoked
2           Private          Rural             105.92  32.5     never smoked
3           Private          Urban             171.23  34.4           smokes
4     Self-employed          Rural             174.12  24.0     never smoked
...             ...            ...                ...   ...              ...
5105        Private          Urban              83.75   NaN     never smoked
5106  Self-employed          Urban             125.20  40.0     never smoked
5107  Self-employed          Rural              82.99  30.6     never smoked
5108        Private          Rural             166.29  25.6  formerly smoked
5109       Govt_job          Urban              85.28  26.2          Unknown

      stroke
0          1
1          1
2          1
3          1
4          1
...      ...
5105       0
5106       0
5107       0
5108       0
5109       0

[5110 rows x 12 columns]
The dataset has 5110 rows and 12 columns

In [2]:
#Test cell-1 (3 points)
#DO NOT MODIFY/DELETE THIS CELL
assert rows==5110
assert df['age'].sum()==220888.0

In [3]:
#Test cell-2 (2 points)
#DO NOT MODIFY/DELETE THIS CELL

#### Q2. Handling missing values in the Data Frame. 

Perform these tasks below in the same order as follows. 
1. Compute the total number of missing values in the entire dataframe `df` and assign that value to integer variable `totalnull`.
2. Assign the integer variable `bminull` with the total number of missing values in the feature column `bmi`.
3. Consider the dataframe `df` and delete ONLY the rows with null values in the feature column `bmi`. 
4. Now replace missing values in the dataframe with the corresponding column's previous value. For instance, row with index (i,j) will get values from the previous row with index (i-1,j).
Please note that any error in this question may lead to errors in the following questions.

In [4]:

# YOUR CODE HERE
totalnull = df.isnull().sum().sum()
bminull = df['bmi'].isnull().sum()
df = df.drop(df[df['bmi'].isnull()].index)
df.fillna(method='ffill', inplace=True)

print(f'The dataset has {totalnull} missing values')
print(f'The column bmi has {bminull} missing values')
print(df)

The dataset has 201 missing values
The column bmi has 201 missing values
         id  gender   age  hypertension  heart_disease ever_married  \
0      9046    Male  67.0             0              1          Yes
2     31112    Male  80.0             0              1          Yes
3     60182  Female  49.0             0              0          Yes
4      1665  Female  79.0             1              0          Yes
5     56669    Male  81.0             0              0          Yes
...     ...     ...   ...           ...            ...          ...
5104  14180  Female  13.0             0              0           No
5106  44873  Female  81.0             0              0          Yes
5107  19723  Female  35.0             0              0          Yes
5108  37544    Male  51.0             0              0          Yes
5109  44679  Female  44.0             0              0          Yes

          work_type Residence_type  avg_glucose_level   bmi   smoking_status  \
0           Private          Urban             228.69  36.6  formerly smoked
2           Private          Rural             105.92  32.5     never smoked
3           Private          Urban             171.23  34.4           smokes
4     Self-employed          Rural             174.12  24.0     never smoked
5           Private          Urban             186.21  29.0  formerly smoked
...             ...            ...                ...   ...              ...
5104       children          Rural             103.08  18.6          Unknown
5106  Self-employed          Urban             125.20  40.0     never smoked
5107  Self-employed          Rural              82.99  30.6     never smoked
5108        Private          Rural             166.29  25.6  formerly smoked
5109       Govt_job          Urban              85.28  26.2          Unknown

      stroke
0          1
2          1
3          1
4          1
5          1
...      ...
5104       0
5106       0
5107       0
5108       0
5109       0

[4909 rows x 12 columns]

C:\Users\Justin\AppData\Local\Temp\ipykernel_100\4019324069.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)

In [5]:
#Test cell-3 (5 points)
#DO NOT MODIFY/DELETE THIS CELL
assert totalnull==201
assert df.isnull().values.sum()==0
assert df['bmi'].sum()==141836.9
assert len(df) == 4909

In [6]:
#Test cell-4 (5 points)
#DO NOT MODIFY/DELETE THIS CELL

#### Q3. Understanding data

1. Assign the integer variable `totals` with the total number of individuals who got a stroke. Please note that is the value of `stroke` column is 1, the corresponding individual got a stroke. Otherwise it should be 0. 
2. Considering the `Residence_type` column, compute the total number of `Rural` residents who got a stroke and total number of `Urban` residents who got a stroke and save these values in the variables `rurals` and `urbans` respectively. 
3. Compute the total number of people categorized as `Male` who got a stroke and `Female` who got a stroke and assign these values to integer variables `males` and `females` respectively. 
4. Compute the total number of people categorized as `Female` who `never smoked` but got a stroke. Assign this value to integer variable `females_nsmoke`.
5. Compute the total number of people categorized as `Female` who `formerly smoked` or `smokes` currently but never got a stroke. Assign this value to integer variable `females_smoke`.

In [7]:

# YOUR CODE HERE
totals = (df['stroke'] == 1).sum()
stroke_residents = df['Residence_type'][df['stroke'] == 1].value_counts()
rurals = stroke_residents['Rural']
urbans = stroke_residents['Urban']
stroke_gender = df['gender'][df['stroke'] == 1].value_counts()
males = stroke_gender['Male']
females = stroke_gender['Female']
females_nsmoke = df[(df['gender'] == 'Female') & (df['smoking_status'] == 'never smoked') & (df['stroke'] == 1)].shape[0]
females_smoke = df[(df['gender'] == 'Female') & ((df['smoking_status'] == 'formerly smoked') | (df['smoking_status'] == 'smokes')) & (df['stroke'] == 0)].shape[0]

# print(f'The dataset has {totals} stroke cases')
# print(f'The stroke cases are distributed as follows:')
# print(f'The number of stroke cases in rural areas is {rurals}')
# print(f'The number of stroke cases in urban areas is {urbans}')
# print(stroke_gender)
# print(females_nsmoke)
# print(females_smoke)

In [8]:
#Test cell-5 (5 points)
#DO NOT MODIFY/DELETE THIS CELL
assert rurals==100
assert males==89
assert females_nsmoke==59

In [9]:
#Test cell-6 (5 points)
#DO NOT MODIFY/DELETE THIS CELL

#### Q4. Data Manipulation -- you will be changing the dataframe `df` while performing the below tasks

1. Delete feature column `id`.
2. Data encoding -- Consider the `smoking_status` column and convert values `formerly smoked` and `smokes` to 1. Convert value `never smoked` and `Unknown` to 0.

In [10]:
# YOUR CODE HERE
df = df.drop(columns=['id'])
df['smoking_status'] = df['smoking_status'].map({'never smoked': 0, 'Unknown': 0, 'formerly smoked': 1, 'smokes': 1})

print(df)

      gender   age  hypertension  heart_disease ever_married      work_type  \
0       Male  67.0             0              1          Yes        Private
2       Male  80.0             0              1          Yes        Private
3     Female  49.0             0              0          Yes        Private
4     Female  79.0             1              0          Yes  Self-employed
5       Male  81.0             0              0          Yes        Private
...      ...   ...           ...            ...          ...            ...
5104  Female  13.0             0              0           No       children
5106  Female  81.0             0              0          Yes  Self-employed
5107  Female  35.0             0              0          Yes  Self-employed
5108    Male  51.0             0              0          Yes        Private
5109  Female  44.0             0              0          Yes       Govt_job

     Residence_type  avg_glucose_level   bmi  smoking_status  stroke
0             Urban             228.69  36.6               1       1
2             Rural             105.92  32.5               0       1
3             Urban             171.23  34.4               1       1
4             Rural             174.12  24.0               0       1
5             Urban             186.21  29.0               1       1
...             ...                ...   ...             ...     ...
5104          Rural             103.08  18.6               0       0
5106          Urban             125.20  40.0               0       0
5107          Rural              82.99  30.6               0       0
5108          Rural             166.29  25.6               1       0
5109          Urban              85.28  26.2               0       0

[4909 rows x 11 columns]

In [11]:
#Test cell-7 (5 points)
#DO NOT MODIFY/DELETE THIS CELL
assert list(df.columns)==['gender', 'age', 'hypertension', 'heart_disease', 'ever_married', 'work_type', 'Residence_type', 'avg_glucose_level', 'bmi', 'smoking_status', 'stroke']
assert round(df['smoking_status'].mean(),2)==0.32

In [12]:
#Test cell-8 (5 points)
#DO NOT MODIFY/DELETE THIS CELL

#### Q5. Data Sampling -- Column-wise. 

We will continue to use the modified dataframe `df` in the previous question. 

1. Sample the data based on the residence type. 
2. Create a sub dataframe `df_urban` where, all the rows corresponding to `Residence_type` are `Urban`. 
3. Create another sub dataframe `df_rural` where, all the rows corresponding to `Residence_type` are `Rural`. 
4. Drop the index to reset it to default index in both `df_urban` and `df_rural`. 
5. Delete the column `Residence_type` from both the sub dataframes `df_urban` and `df_rural`.

In [13]:
# YOUR CODE HERE
df_urban = df[df['Residence_type'] == 'Urban']
df_rural = df[df['Residence_type'] == 'Rural']
df_urban.reset_index(drop=True, inplace=True)
df_rural.reset_index(drop=True, inplace=True)
df_urban = df_urban.drop(columns=['Residence_type'])
df_rural = df_rural.drop(columns=['Residence_type'])
print(f"urban: {df_urban.shape}")
print(f"rural: {df_rural.shape}")

urban: (2490, 10)
rural: (2419, 10)

In [14]:
#Test cell-9 (6 points)
#DO NOT MODIFY/DELETE THIS CELL
assert len(df_urban)==2490
assert df_urban.columns.tolist()==['gender', 'age', 'hypertension', 'heart_disease', 'ever_married', 'work_type', 'avg_glucose_level', 'bmi', 'smoking_status', 'stroke']
assert df_urban['stroke'].sum()==109

In [15]:
#Test cell-10 (4 points)
#DO NOT MODIFY/DELETE THIS CELL

#### Q6. Data Sampling -- Generating random data sample. 

We will continue to use the modified dataframe `df` in the previous question. 

1. Reset the index of `df` with parameter `drop` as True. 
2. Generate a random sample of 20 data points saved as `r` chosen randomly from the dataframe `df` and save it in a new dataframe `ndf`. 
3. Get the index of this new dataframe `ndf` without resetting it to the default index and save it as `ndfindex`.
4. Assign the value of this variance of index `ndfindex` to a variable `variance_ndfindex`.

In [16]:

# YOUR CODE HERE
import numpy as np

df.reset_index(drop=True, inplace=True)
r = df.sample(n=20)
ndf = r.copy()
ndfindex = ndf.index
variance_ndfindex = np.var(ndfindex.tolist())
print(ndfindex)

Index([3147, 4889, 2353, 1870, 1117, 4420, 4748, 1112, 2411, 4644, 3805, 2625,
       2242, 3918, 2579,  437, 4276, 1734, 3369,  254],
      dtype='int64')

In [17]:
#Test cell-11 (4 points)
#DO NOT MODIFY/DELETE THIS CELL
assert len(r)==20
assert len(ndfindex)==20

In [18]:
#Test cell-12 (1 point)
#DO NOT MODIFY/DELETE THIS CELL

#### Q7. Attribute transformation -- categorization 

We will continue to use the dataframe `df`. 

1. Consider the column `bmi` and using the values in these columns, create a categorical column `bmiCat` as follows: 
    - According to CDC, BMI under 18.5 is described as `Underweight`
    - between 18.5 and 24.9 is described as the `Healthy`
    - above 25 is described as `Overweight`
2. Compute the total number of `healthy` people who got a stroke and save it as a variable `bmis`

In [19]:
# YOUR CODE HERE
df['bmiCat'] = df['bmi'].apply(lambda x: 'Underweight' if x < 18.5 else ('Healthy' if (x >= 18.5 and x < 25) else 'Overweight'))
bmis = df[(df['bmiCat'] == 'Healthy') & (df['stroke'] == 1)].shape[0]
print(bmis)
print(df['bmiCat'].value_counts())

35
bmiCat
Overweight     3329
Healthy        1243
Underweight     337
Name: count, dtype: int64

In [20]:
#Test cell-13 (3 points)
#DO NOT MODIFY/DELETE THIS CELL
assert bmis==35
assert df['bmiCat'].value_counts()['Healthy']==1231
assert list(df['bmiCat'].unique())==['Overweight', 'Healthy', 'Underweight']

AssertionError:

In [85]:
#Test cell-14 (2 points)
#DO NOT MODIFY/DELETE THIS CELL

#### Q8. Attribute transformation -- handling select categorical columns

We will continue to use the dataframe `df`. 

1. Consider the columns or features `work_type` and `Residence_type`. Perform one-hot encoding only on these two columns and save the resulting dataframe as `ndf`.

2. Change the names of columns in `ndf` in the following manner:
    - `work_type_Govt_job` --> `work1`
    - `work_type_Never_worked` --> `work2`
    - `work_type_Private` --> `work3`
    - `work_type_Self-employed` --> `work4`
    - `work_type_children` --> `work5`
    - `Residence_type_Urban` --> `Urban`
    - `Residence_type_Rural` --> `Rural`

In [86]:
#Handling only the categorical columns work_type and Residence_type. 

# YOUR CODE HERE
ndf = pd.get_dummies(df, columns=['work_type', 'Residence_type'])
ndf.rename(columns={
    'work_type_Govt_job': 'work1',
    'work_type_Never_worked': 'work2',
    'work_type_Private': 'work3',
    'work_type_Self-employed': 'work4',
    'work_type_children': 'work5',
    'Residence_type_Urban': 'Urban',
    'Residence_type_Rural': 'Rural'
}, inplace=True)
print(ndf.head())
print(ndf.shape)

   gender   age  hypertension  heart_disease ever_married  avg_glucose_level  \
0    Male  67.0             0              1          Yes             228.69
1    Male  80.0             0              1          Yes             105.92
2  Female  49.0             0              0          Yes             171.23
3  Female  79.0             1              0          Yes             174.12
4    Male  81.0             0              0          Yes             186.21

    bmi  smoking_status  stroke      bmiCat  work1  work2  work3  work4  \
0  36.6               1       1  Overweight  False  False   True  False
1  32.5               0       1  Overweight  False  False   True  False
2  34.4               1       1  Overweight  False  False   True  False
3  24.0               0       1     Healthy  False  False  False   True
4  29.0               1       1  Overweight  False  False   True  False

   work5  Rural  Urban
0  False  False   True
1  False   True  False
2  False  False   True
3  False   True  False
4  False  False   True
(4909, 17)

In [87]:
#Test cell-15 (6 points)
#DO NOT MODIFY/DELETE THIS CELL
assert len(ndf.columns)==17
assert ndf['stroke'].sum() == 209
assert len(ndf) == 4909
assert ndf['work1'].sum()==630

In [88]:
#Test cell-16 (4 points)
#DO NOT MODIFY/DELETE THIS CELL