In [76]:
import pandas as pd

nba_data = pd.read_csv('nba.csv', encoding='utf-8')

nba_data.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [74]:

print('num rows: ', len(nba_data))
print('num cols: ', len(nba_data.loc[0, :]))

num rows:  457
num cols:  9

In [62]:
# total number of unqiue positions
print(nba_data['Position'].unique())
print(nba_data['Position'].unique())
print(len(nba_data['Position'].unique()))

['PG' 'SF' 'SG' 'PF' 'C']
['PG' 'SF' 'SG' 'PF']
5

In [89]:
# print last row
print(nba_data.iloc[-1, :])
# or
print(nba_data.tail(1))

Name        Jeff Withey
Team          Utah Jazz
Number             24.0
Position              C
Age                26.0
Height              7-0
Weight            231.0
College          Kansas
Salary         947276.0
Name: 456, dtype: object
            Name       Team  Number Position   Age Height  Weight College  \
456  Jeff Withey  Utah Jazz    24.0        C  26.0    7-0   231.0  Kansas

       Salary
456  947276.0

In [90]:
# print top 20 rows
print(nba_data.head(20))
# or
print(nba_data.iloc[:20, :])

                       Name            Team  Number Position   Age Height  \
0             Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2
1               Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6
2              John Holland  Boston Celtics    30.0       SG  27.0    6-5
3               R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5
4             Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10
5              Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9
6             Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8
7              Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0
8              Terry Rozier  Boston Celtics    12.0       PG  22.0    6-2
9              Marcus Smart  Boston Celtics    36.0       PG  22.0    6-4
10          Jared Sullinger  Boston Celtics     7.0        C  24.0    6-9
11            Isaiah Thomas  Boston Celtics     4.0       PG  27.0    5-9
12              Evan Turner  Boston Celtics    11.0       SG  27.0    6-7
13              James Young  Boston Celtics    13.0       SG  20.0    6-6
14             Tyler Zeller  Boston Celtics    44.0        C  26.0    7-0
15         Bojan Bogdanovic   Brooklyn Nets    44.0       SG  27.0    6-8
16             Markel Brown   Brooklyn Nets    22.0       SG  24.0    6-3
17          Wayne Ellington   Brooklyn Nets    21.0       SG  28.0    6-4
18  Rondae Hollis-Jefferson   Brooklyn Nets    24.0       SG  21.0    6-7
19             Jarrett Jack   Brooklyn Nets     2.0       PG  32.0    6-3

    Weight            College      Salary
0    180.0              Texas   7730337.0
1    235.0          Marquette   6796117.0
2    205.0  Boston University         NaN
3    185.0      Georgia State   1148640.0
4    231.0                NaN   5000000.0
5    240.0                NaN  12000000.0
6    235.0                LSU   1170960.0
7    238.0            Gonzaga   2165160.0
8    190.0         Louisville   1824360.0
9    220.0     Oklahoma State   3431040.0
10   260.0         Ohio State   2569260.0
11   185.0         Washington   6912869.0
12   220.0         Ohio State   3425510.0
13   215.0           Kentucky   1749840.0
14   253.0     North Carolina   2616975.0
15   216.0                NaN   3425510.0
16   190.0     Oklahoma State    845059.0
17   200.0     North Carolina   1500000.0
18   220.0            Arizona   1335480.0
19   200.0       Georgia Tech   6300000.0
                       Name            Team  Number Position   Age Height  \
0             Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2
1               Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6
2              John Holland  Boston Celtics    30.0       SG  27.0    6-5
3               R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5
4             Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10
5              Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9
6             Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8
7              Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0
8              Terry Rozier  Boston Celtics    12.0       PG  22.0    6-2
9              Marcus Smart  Boston Celtics    36.0       PG  22.0    6-4
10          Jared Sullinger  Boston Celtics     7.0        C  24.0    6-9
11            Isaiah Thomas  Boston Celtics     4.0       PG  27.0    5-9
12              Evan Turner  Boston Celtics    11.0       SG  27.0    6-7
13              James Young  Boston Celtics    13.0       SG  20.0    6-6
14             Tyler Zeller  Boston Celtics    44.0        C  26.0    7-0
15         Bojan Bogdanovic   Brooklyn Nets    44.0       SG  27.0    6-8
16             Markel Brown   Brooklyn Nets    22.0       SG  24.0    6-3
17          Wayne Ellington   Brooklyn Nets    21.0       SG  28.0    6-4
18  Rondae Hollis-Jefferson   Brooklyn Nets    24.0       SG  21.0    6-7
19             Jarrett Jack   Brooklyn Nets     2.0       PG  32.0    6-3

    Weight            College      Salary
0    180.0              Texas   7730337.0
1    235.0          Marquette   6796117.0
2    205.0  Boston University         NaN
3    185.0      Georgia State   1148640.0
4    231.0                NaN   5000000.0
5    240.0                NaN  12000000.0
6    235.0                LSU   1170960.0
7    238.0            Gonzaga   2165160.0
8    190.0         Louisville   1824360.0
9    220.0     Oklahoma State   3431040.0
10   260.0         Ohio State   2569260.0
11   185.0         Washington   6912869.0
12   220.0         Ohio State   3425510.0
13   215.0           Kentucky   1749840.0
14   253.0     North Carolina   2616975.0
15   216.0                NaN   3425510.0
16   190.0     Oklahoma State    845059.0
17   200.0     North Carolina   1500000.0
18   220.0            Arizona   1335480.0
19   200.0       Georgia Tech   6300000.0

In [91]:
# print only the values in the 'Name' column in the top 20 rows
print(nba_data.loc[:20, 'Name'])

0               Avery Bradley
1                 Jae Crowder
2                John Holland
3                 R.J. Hunter
4               Jonas Jerebko
5                Amir Johnson
6               Jordan Mickey
7                Kelly Olynyk
8                Terry Rozier
9                Marcus Smart
10            Jared Sullinger
11              Isaiah Thomas
12                Evan Turner
13                James Young
14               Tyler Zeller
15           Bojan Bogdanovic
16               Markel Brown
17            Wayne Ellington
18    Rondae Hollis-Jefferson
19               Jarrett Jack
20             Sergey Karasev
Name: Name, dtype: object

In [92]:
# print 'Name' and 'College' column in the top 20 rows
print(nba_data.loc[:20, ['Name', 'College']])

                       Name            College
0             Avery Bradley              Texas
1               Jae Crowder          Marquette
2              John Holland  Boston University
3               R.J. Hunter      Georgia State
4             Jonas Jerebko                NaN
5              Amir Johnson                NaN
6             Jordan Mickey                LSU
7              Kelly Olynyk            Gonzaga
8              Terry Rozier         Louisville
9              Marcus Smart     Oklahoma State
10          Jared Sullinger         Ohio State
11            Isaiah Thomas         Washington
12              Evan Turner         Ohio State
13              James Young           Kentucky
14             Tyler Zeller     North Carolina
15         Bojan Bogdanovic                NaN
16             Markel Brown     Oklahoma State
17          Wayne Ellington     North Carolina
18  Rondae Hollis-Jefferson            Arizona
19             Jarrett Jack       Georgia Tech
20           Sergey Karasev                NaN

In [97]:
from collections import Counter
print(Counter(nba_data.loc[:, 'College']))

Counter({nan: 84, 'Kentucky': 22, 'Duke': 20, 'Kansas': 18, 'North Carolina': 16, 'UCLA': 15, 'Arizona': 13, 'Florida': 10, 'Texas': 9, 'Syracuse': 8, 'Washington': 7, 'USC': 7, 'Connecticut': 7, 'LSU': 6, 'Georgia Tech': 6, 'Georgetown': 6, 'Wake Forest': 6, 'Michigan': 6, 'Michigan State': 6, 'Marquette': 5, 'Ohio State': 5, 'Stanford': 5, 'Wisconsin': 5, 'Oklahoma State': 4, 'UNLV': 4, 'Villanova': 4, 'Tennessee': 4, 'Indiana': 4, 'Louisville': 3, 'Texas A&M': 3, 'Missouri': 3, 'Utah': 3, "St. John's": 3, 'Maryland': 3, 'North Carolina State': 3, 'Creighton': 3, 'Arkansas': 3, 'Memphis': 3, 'Alabama': 3, 'Colorado': 3, 'Fresno State': 3, 'Nevada': 3, 'California': 3, 'Gonzaga': 2, 'Cincinnati': 2, 'Miami (FL)': 2, "Saint Joseph's": 2, 'Notre Dame': 2, 'Murray State': 2, 'Purdue': 2, 'Vanderbilt': 2, 'Washington State': 2, 'Arizona State': 2, 'UC Santa Barbara': 2, 'Oregon State': 2, 'New Mexico': 2, 'Oregon': 2, "Saint Mary's": 2, 'Boston College': 2, 'Virginia': 2, 'Western Kentucky': 2, 'Illinois': 2, 'Clemson': 2, 'Pittsburgh': 2, 'Virginia Commonwealth': 2, 'Dayton': 2, 'Butler': 2, 'Boston University': 1, 'Georgia State': 1, 'Saint Louis': 1, 'Wichita State': 1, 'Norfolk State': 1, 'Tennessee State': 1, 'Bowling Green': 1, 'Rider': 1, 'Belmont': 1, 'Davidson': 1, 'Oklahoma': 1, 'Wyoming': 1, 'Utah Valley': 1, 'Baylor': 1, 'Georgia': 1, 'Temple': 1, 'IUPUI': 1, 'Eastern Washington': 1, 'Western Michigan': 1, 'Northeastern': 1, 'Kansas State': 1, 'Charleston': 1, 'Blinn College': 1, 'Providence': 1, 'Detroit': 1, 'Rhode Island': 1, 'Cleveland State': 1, 'Iowa State': 1, 'Florida State': 1, 'Long Beach State': 1, 'Penn State': 1, 'San Diego State': 1, 'Western Carolina': 1, 'Houston': 1, 'Xavier': 1, 'Old Dominion': 1, 'Minnesota': 1, 'Louisiana Tech': 1, 'Bucknell': 1, 'Harvard': 1, 'Marshall': 1, 'Iowa': 1, 'St. Bonaventure': 1, 'Louisiana-Lafayette': 1, 'Colorado State': 1, 'Virginia Tech': 1, 'DePaul': 1, 'Morehead State': 1, 'Central Michigan': 1, 'Weber State': 1, 'Lehigh': 1, 'Westchester CC': 1})

In [115]:
# bottom 50 rows, Name and Tame values
print(nba_data.loc[len(nba_data) - 50:, ['Name', 'Team']])

                   Name                    Team
407         Ricky Rubio  Minnesota Timberwolves
408        Damjan Rudez  Minnesota Timberwolves
409          Greg Smith  Minnesota Timberwolves
410  Karl-Anthony Towns  Minnesota Timberwolves
411      Andrew Wiggins  Minnesota Timberwolves
412        Steven Adams   Oklahoma City Thunder
413       Nick Collison   Oklahoma City Thunder
414        Kevin Durant   Oklahoma City Thunder
415          Randy Foye   Oklahoma City Thunder
416        Josh Huestis   Oklahoma City Thunder
417         Serge Ibaka   Oklahoma City Thunder
418         Enes Kanter   Oklahoma City Thunder
419        Mitch McGary   Oklahoma City Thunder
420       Nazr Mohammed   Oklahoma City Thunder
421      Anthony Morrow   Oklahoma City Thunder
422       Cameron Payne   Oklahoma City Thunder
423      Andre Roberson   Oklahoma City Thunder
424        Kyle Singler   Oklahoma City Thunder
425        Dion Waiters   Oklahoma City Thunder
426   Russell Westbrook   Oklahoma City Thunder
427     Cliff Alexander  Portland Trail Blazers
428     Al-Farouq Aminu  Portland Trail Blazers
429     Pat Connaughton  Portland Trail Blazers
430        Allen Crabbe  Portland Trail Blazers
431            Ed Davis  Portland Trail Blazers
432    Maurice Harkless  Portland Trail Blazers
433    Gerald Henderson  Portland Trail Blazers
434         Chris Kaman  Portland Trail Blazers
435      Meyers Leonard  Portland Trail Blazers
436      Damian Lillard  Portland Trail Blazers
437       C.J. McCollum  Portland Trail Blazers
438        Luis Montero  Portland Trail Blazers
439       Mason Plumlee  Portland Trail Blazers
440       Brian Roberts  Portland Trail Blazers
441         Noah Vonleh  Portland Trail Blazers
442       Trevor Booker               Utah Jazz
443          Trey Burke               Utah Jazz
444          Alec Burks               Utah Jazz
445          Dante Exum               Utah Jazz
446      Derrick Favors               Utah Jazz
447         Rudy Gobert               Utah Jazz
448      Gordon Hayward               Utah Jazz
449         Rodney Hood               Utah Jazz
450          Joe Ingles               Utah Jazz
451       Chris Johnson               Utah Jazz
452          Trey Lyles               Utah Jazz
453        Shelvin Mack               Utah Jazz
454           Raul Neto               Utah Jazz
455        Tibor Pleiss               Utah Jazz
456         Jeff Withey               Utah Jazz

In [125]:
# create new dataframe ndf with only top-100 rows from nba_data
ndf = pd.DataFrame(nba_data.loc[:99, :])
print(ndf)

# remove last row from nba_data
nba_data.drop(nba_data.index[-1], inplace=True)
print(nba_data.tail())

                        Name                  Team  Number Position   Age  \
0              Avery Bradley        Boston Celtics     0.0       PG  25.0
1                Jae Crowder        Boston Celtics    99.0       SF  25.0
2               John Holland        Boston Celtics    30.0       SG  27.0
3                R.J. Hunter        Boston Celtics    28.0       SG  22.0
4              Jonas Jerebko        Boston Celtics     8.0       PF  29.0
..                       ...                   ...     ...      ...   ...
95                Jeff Green  Los Angeles Clippers     8.0       SF  29.0
96             Blake Griffin  Los Angeles Clippers    32.0       PF  27.0
97            Wesley Johnson  Los Angeles Clippers    33.0       SF  28.0
98            DeAndre Jordan  Los Angeles Clippers     6.0        C  27.0
99  Luc Richard Mbah a Moute  Los Angeles Clippers    12.0       PF  29.0

   Height  Weight            College      Salary
0     6-2   180.0              Texas   7730337.0
1     6-6   235.0          Marquette   6796117.0
2     6-5   205.0  Boston University         NaN
3     6-5   185.0      Georgia State   1148640.0
4    6-10   231.0                NaN   5000000.0
..    ...     ...                ...         ...
95    6-9   235.0         Georgetown   9650000.0
96   6-10   251.0           Oklahoma  18907726.0
97    6-7   215.0           Syracuse   1100602.0
98   6-11   265.0          Texas A&M  19689000.0
99    6-8   230.0               UCLA    947276.0

[100 rows x 9 columns]
              Name       Team  Number Position   Age Height  Weight   College  \
450     Joe Ingles  Utah Jazz     2.0       SF  28.0    6-8   226.0       NaN
451  Chris Johnson  Utah Jazz    23.0       SF  26.0    6-6   206.0    Dayton
452     Trey Lyles  Utah Jazz    41.0       PF  20.0   6-10   234.0  Kentucky
453   Shelvin Mack  Utah Jazz     8.0       PG  26.0    6-3   203.0    Butler
454      Raul Neto  Utah Jazz    25.0       PG  24.0    6-1   179.0       NaN

        Salary
450  2050000.0
451   981348.0
452  2239800.0
453  2433333.0
454   900000.0

In [129]:
# find the mean age of players
print(f'mean age: {nba_data.loc[:, 'Age'].mean()}')

mean age: 26.942857142857143

In [134]:
# print players from Stanford
print(nba_data.loc[nba_data['College'] == 'Stanford', 'Name'])

23       Brook Lopez
38       Robin Lopez
108    Anthony Brown
239    Dwight Powell
416     Josh Huestis
Name: Name, dtype: object

In [135]:
print(nba_data['College'] == 'Standford')

0      False
1      False
2      False
3      False
4      False
       ...
450    False
451    False
452    False
453    False
454    False
Name: College, Length: 455, dtype: bool

In [136]:
# name of players who play for the Knicks
print(nba_data.loc[nba_data['Team'] == 'New York Knicks', 'Name'])

30             Arron Afflalo
31              Lou Amundson
32    Thanasis Antetokounmpo
33           Carmelo Anthony
34             Jose Calderon
35          Cleanthony Early
36         Langston Galloway
37              Jerian Grant
38               Robin Lopez
39              Kyle O'Quinn
40        Kristaps Porzingis
41            Kevin Seraphin
42              Lance Thomas
43             Sasha Vujacic
44          Derrick Williams
45               Tony Wroten
Name: Name, dtype: object