In [9]:
#1. Lets read the file to a dataframe and print all the rows and columns
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/lmanikon/lmanikon.github.io/master/teaching/datasets/nba.csv')
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.drop(df.index[-1], inplace=True)
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [22]:
print(len(df.index))
print(df.index)
print(len(df.columns))
print(df.columns)

457
RangeIndex(start=0, stop=457, step=1)
9
Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [25]:
# print total number of misisng values in the dataframe
print(df.isnull().sum().sum())

95

In [35]:
print(df.isnull().sum(axis=0)) # missing values in each column
print(df.isnull().sum(axis=1)) # missing values in each row

Name         0
Team         0
Number       0
Position     0
Age          0
Height       0
Weight       0
College     84
Salary      11
dtype: int64
0      0
1      0
2      1
3      0
4      1
      ..
452    0
453    0
454    1
455    1
456    0
Length: 457, dtype: int64

In [38]:
df.apply(lambda x: x.isnull().sum(), axis=0) # missing values in each column

Name         0
Team         0
Number       0
Position     0
Age          0
Height       0
Weight       0
College     84
Salary      11
dtype: int64

In [44]:
print(df['College'].isnull().sum())
print(df['Salary'].isnull().sum())

84
11

In [53]:
# print the names of all the players whose 'College' value is empty
# print(df['College'].isnull())
print(df['Name'][df['College'].isnull()])
# print(df.loc[df['College'].isnull(), 'Name'].tolist())

4               Jonas Jerebko
5                Amir Johnson
15           Bojan Bogdanovic
20             Sergey Karasev
32     Thanasis Antetokounmpo
                ...
445                Dante Exum
447               Rudy Gobert
450                Joe Ingles
454                 Raul Neto
455              Tibor Pleiss
Name: Name, Length: 84, dtype: object

In [88]:
# print the anmes of players whose salary is missing
print(df[['Name']][df['Salary'].isnull()])

# create a new dataframe ndf with only 'age', 'weight', and 'salary'
ndf = df[['Age', 'Weight', 'Salary']].copy()
# print(ndf)

# create a new column in ndf 'AgeCat' where the values of the column will be 'A' if their 'Age' is >30 otherwies '8'
# ndf.insert(len(ndf.columns), 'AgeCat', ndf['Age'].apply(lambda x: 'A' if x > 30 else 'B'))
ndf['AgeCat'] = ndf['Age'].apply(lambda x: 'A' if x > 30 else 'B')
print(ndf)

# print the anmes of players who are the youngest in our dataframe
print(df['Name'][df['Age'] == df['Age'].min()])

               Name
2      John Holland
46      Elton Brand
171   Dahntay Jones
264   Jordan Farmar
269    Ray McCallum
270  Xavier Munford
273  Alex Stepheson
350   Briante Weber
353   Dorell Wright
397    Axel Toupane
409      Greg Smith
      Age  Weight     Salary AgeCat
0    25.0   180.0  7730337.0      B
1    25.0   235.0  6796117.0      B
2    27.0   205.0        NaN      B
3    22.0   185.0  1148640.0      B
4    29.0   231.0  5000000.0      B
..    ...     ...        ...    ...
452  20.0   234.0  2239800.0      B
453  26.0   203.0  2433333.0      B
454  24.0   179.0   900000.0      B
455  26.0   256.0  2900000.0      B
456  26.0   231.0   947276.0      B

[457 rows x 4 columns]
122     Devin Booker
226    Rashad Vaughn
Name: Name, dtype: object